.game-container{
    max-width: 450px;
}

.game-container .row{
    margin-bottom: 2rem;
}

.square {
    width: 100%;
    height: 0;
    padding-top: 30%;
    padding-bottom: 66%;
    font-size: 3rem;
}

header .media-right{
    text-align: center;
    padding-top: 10px;
}

header .media-object{
    width: 90px;
    height: 90px;
    margin: 10px 8px 15px;
    border-radius: 6px;
    box-shadow: 0 0 0 8px #303030;
}

header .media-heading{
    margin-top: 3px;
}

footer{
    background: #464545;
    margin-top: 20px;
    padding: 20px 0;
}

footer img{
    filter: invert(100%) contrast(0.45);
}